RewriteEngine On

# アプリバージョン用
SetEnvIf User-Agent "^[A-Za-z0-9]+\/(\d\.\d\.\d+)" appversion=$1
SetEnvIf User-Agent "^[A-Za-z0-9]+\/\d\.\d\.\d+\/([A-Za-z0-9\.]+)" appdisplayversion=$1

# All files with .something are skipped
RewriteCond %{REQUEST_URI} \..+$
RewriteCond %{REQUEST_URI} !$
RewriteCond %{REQUEST_URI} !\.html$
RewriteCond %{REQUEST_URI} !\.xml$
RewriteCond %{REQUEST_URI} !\.json$
RewriteRule .* - [L]

# リライト
# URL省略時のIndexFlowへのRewrite
# XXX Indexはリソース指定が無いのでエラーなる！
RewriteRule ^\/$ index.php?_c_=api/Rest&_a_=UIDAuthAndExecute&_r_=&_o_=xml&_v_=%{ENV:appversion}&_dv_=%{ENV:appdisplayversion} [QSA,L]
# 標準のRestへのRewrite
RewriteRule (.*)?\.(.*)$ index.php?_c_=api/Rest&_a_=UIDAuthAndExecute&_r_=$1&_o_=$2&_v_=%{ENV:appversion}&_dv_=%{ENV:appdisplayversion} [QSA,L]

php_flag mbstring.encoding_translation off
php_value mbstring.http_input pass
php_value mbstring.internal_encoding UTF-8

# エラーの表示設定
# 全てのエラーを非表示
#php_value error_reporting 1
# 以下はPHP5環境用
php_value error_reporting 24575
